body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5b8e2d;   /* Fondo verde claro */
    color: #333; /* Color del texto */
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #164b1e; /* Color de fondo verde oscuro */
    padding: 10px 20px;
}

.logo h1 {
    color: white;
    margin: 0;
}

.navegar a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    background-color: #164b1e; /* Fondo verde más claro */
    transition: background-color 0.3s ease;
}

.navegar a:hover {
    background-color: #45a049;
}

.principal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explicacion {
    background-color: #2c691d; /* Fondo verde oliva */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff; /* Color del texto */
    max-width: 800px;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: left;
}

.img-peajes {
    text-align: center;
    margin-bottom: 20px;
}

.img-peajes img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}